<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="flex flex-col min-h-screen bg-gray-50 dark:bg-gray-900">
 
  <div th:fragment="footer" class="mt-10">
    
<footer class="mt-auto  dark:bg-gray-900 border-t border-gray-200 dark:border-gray-700" style="background-color:#a8e7f1">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 mt-[20px]">
   

    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

  
    <div class="flex flex-col items-center justify-center space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
      <span class="text-sm text-gray-500 dark:text-gray-400 text-center">
        © 2025 <a href="https://flowbite.com/" class="hover:underline">Labourer Bridge™</a>. All Rights Reserved.
      </span>
      
    </div>
  </div>
</footer>


  </div>
</body>
</html>
